$green:  #39da60 !default;
$yellow: #ffc300 !default;
$pink:   #ff4a77 !default;
$purple: #8759f3 !default;
$blue:   #178cdd !default;
$red:    #ff4b34 !default;
$orange: #ff7837 !default;
$light:  #e8e8e8 !default;
$gray:   #8f8f8f !default;
$dark:   #444444 !default;
$white:  #ffffff !default;
$black:  #000000 !default;
